@charset "utf-8";
/* CSH(myint@naver.com) 131001 */

@import url(default.css);

/* layout */
#wrap{position:relative; width:100%; min-width:1260px;}
#header{position:relative; margin-bottom:14px; padding-top:14px; height:68px; background:url('/tms/asset/images/sys/header_bg.gif') repeat-x 0 0; z-index:100;}
#header h1{position:absolute; top:16px; left:10px;}
#container{padding:0 15px; border:none; *zoom:1;}
#container:after{content:""; display:block; clear:both;}
#content{position:relative; padding:0 0 20px;}
h3{padding-top:10px; font-family:ngbold; font-weight:normal; font-size:20px; line-height:38px; color:#222;}

/* gnb */
#gnb{margin-bottom:10px; padding-left:188px; height:26px;}
#gnb ul{*zoom:1;}
#gnb ul:after{content:""; display:block; clear:both;}
#gnb ul li{position:relative; float:left; background:url('/tms/asset/images/sys/header_gnb_bar.gif') no-repeat 0 50%;}
#gnb ul li.first{background:none;}
#gnb ul li h2{padding:0 14px; font-family:ngbold; font-weight:normal; font-size:14px; line-height:26px; text-align:center; color:#fff; cursor:pointer;}
#gnb ul li h2:hover{text-decoration:underline;}
#gnb ul li h2.active{color:#f8971d;}
#gnb ul.snb{display:none; position:absolute; top:26px; left:50%; margin-left:-67px; padding:5px 0; width:134px; border:1px solid #2d323d; background:#fff;}
#gnb ul.snb li{float:none; background:none;}
#gnb ul.snb li a{display:block; padding:0 5px; height:20px; font-family:ngbold; font-size:13px; line-height:20px;}
#gnb ul.snb li a:hover{color:#fff;background:#007dc3;text-decoration:underline;}
#gnb ul.snb li.active a{color:#fff; background:#007dc3; }
#gnb ul.snb li.line{margin-top:4px; padding-top:4px; border-top:1px dotted #ccc;}

/* branch */
#header .branch{float:left; display:inline; margin-left:10px; padding-top:4px;}
#header .branch select{height:20px;}

/* account */
#header .account{float:right; display:inline; margin-right:10px; padding:4px 0 0 18px; text-align:right; background:url('/tms/asset/images/sys/ico_account.png') no-repeat 0 6px;}
#header .account strong{color:#707070;}
#header .account a{display:inline-block; margin-left:2px; width:70px; height:20px; line-height:20px; font-weight:bold; color:#fff; text-align:center; background:url('/tms/asset/images/sys/btn_logout_bg.png') no-repeat 0 0;}

/* tab */
.ui-tabs .ui-widget-header{padding:0 !important; border-color:#2d323d; border-width:0 0 1px 0; border-radius:0; background:none;}
.ui-tabs .ui-widget-header .ui-state-default{border-color:#bbb; border-radius:0;}
.ui-tabs .ui-widget-header .ui-state-default.ui-tabs-active{border-color:#2d323d;}
.ui-tabs .ui-tabs-panel{padding:10px 0 15px;}
.ui-tabs .ui-icon-close{float:left; margin:0.1em 0.1em 0 0; cursor:pointer;}
.ui-tabs .ui-tabs-anchor{font-weight:bold;}

/* search box */
.searchBox{position:relative; padding:7px 0; border:1px solid #bbb; background:#fcfcfc;}
.searchBox .blueBtn{position:absolute; top:-39px; right:0;}
.searchBox table{margin:0 auto; width:99%;}
.searchBox table tbody th{padding-left:15px; width:110px; text-align:left;}
.searchBox table tbody th span{display:inline-block; padding-left:10px; background:url('/tms/asset/images/sys/bullet_search_option.png') no-repeat 0 50%;}
.searchBox table tbody th em{color:#f00;}
.searchBox table td{padding:3px 10px 3px 0;}
.searchBox table .line{border-left:1px solid #bbb;}
.searchBox table img{vertical-align:middle;}
.searchBox.form{padding:0; border:none; background:#fff;}
.searchBox.form table{width:100%;}
.searchBox.form table tbody th{padding:0 7px; width:110px; letter-spacing:-1px; border:1px solid #bbb; background:#dfe3e6;}
.searchBox.form table tbody th span{padding:0; background:none;}
.searchBox.form table td{padding:4px 0 4px 7px; height:26px; border:1px solid #bbb;}
.searchBox label{display:inline-block; padding:0 6px 0 25px; font-weight:bold; background:url('/tms/asset/images/sys/bullet_search_option.png') no-repeat 15px 50%;}
.searchBox label.check{padding-left:15px; background:none;}
.searchBox label.radio{padding:0 20px 0 0; height:26px; line-height:26px; background:none;}
.wrap .searchBox .blueBtn{top:-49px;}

/* section */
.group{margin-top:10px; *zoom:1}
.group:after{content:""; display:block; clear:both;}
.group .section{position:relative; padding-top:30px;}
.group .section h4{position:absolute; top:0; left:4px; font-family:ngbold; font-weight:normal; font-size:16px; line-height:26px; color:#222;}
.group .section .tab{margin-top:-30px; width:100%;}
.group .section .btnG{position:absolute; top:0; right:0; text-align:right;}
.group .section .btnG .unit{line-height:28px;}
.group .leftSec{float:left;}
.group .rightSec{float:right;}
.group .rightSec h6{position:relative; top:0; left:4px; font-family:ngbold; font-weight:normal; font-size:14px; line-height:26px; color:#222;}

.section .search{margin-bottom:12px; height:36px; line-height:36px; border:1px solid #bbb; background:url('/tms/asset/images/sys/section_search_bg.gif') repeat-x 0 0;}
.section .search label{display:inline-block; padding:0 5px 0 11px; font-weight:bold;}
.section .searchBox{padding:0; border:none; background:#fff;}
.section .searchBox table{width:100%;}
.section .searchBox table thead th{height:27px; border:1.1px solid #bbb; background:url('/tms/asset/images/sys/table_thead_bg.gif') repeat-x 0 0;}
.section .searchBox table tbody th{padding:0 7px; width:auto; letter-spacing:-1px; border:1.1px solid #bbb; background:#dfe3e6;}
.section .searchBox table tbody th span{padding:0; background:none;}
.section .searchBox table td{padding:4px 0 4px 3px; border:1.2px solid #bbb;}
.section .article{position:absolute; top:0px;}
.section .article label{padding:0 8px 0 5px; font-weight:bold;}
.section .article label em{color:#f00;}
.section .article.leftSec{left:0;}
.section .article.rightSec{right:0;}


/* btn */
.grayBtn{display:inline-block; padding-right:12px; background:url('/tms/asset/images/sys/btn_gray_bg2.gif') no-repeat right top;}
.grayBtn span{display:inline-block; padding-left:12px; height:25px; font-weight:bold; color:#707070; line-height:25px; cursor:pointer; background:url('/tms/asset/images/sys/btn_gray_bg1.gif') no-repeat 0 0;}
.inputBtn{margin-left:-1px; vertical-align:middle;}
.centerBtn{text-align:center;}
.moreBtn{position:absolute; top:24px; right:0; padding:7px 10px; text-align:right; border:1px solid #444; background:#fff;}
.moreBtn a{display:block; margin:3px 0; width:116px; height:18px; font-size:11px; line-height:19px; border-radius:4px; text-align:center; vertical-align:middle; color:#fff; background:#2d323d;}

/* margin */
.mt10{margin-top:10px;}
.mt20{margin-top:20px;}
.mt40{margin-top:40px;}
.mtm20{margin-top:-20px;}
.mtm30{margin-top:-30px;}

/* padding */
.pt0{padding-top:0 !important;}
.pt10{padding-top:10px;}
.pt20{padding-top:20px;}

/* tab */
.tab{margin-bottom:10px; height:31px; background:url('/tms/asset/images/sys/tab_bg.gif') repeat-x 0 0;}
.tab ul{*zoom:1;}
.tab ul:after{content:""; display:block; clear:both;}
.tab ul li{float:left; margin-right:2px;}
.tab ul li a{display:block; padding:0 20px; height:29px; font-weight:bold; line-height:29px; color:#757575; text-align:center; border:1px solid #bbb; border-bottom:none; background:#fff;}
.tab ul li.active a{height:30px; color:#007dc3; border:1px solid #007dc3; border-bottom:none; background:#fff url('/tms/asset/images/sys/bullet_tab.png') no-repeat right center;}

/* popup */
#popup{position:relative;}
#popup h1{margin-bottom:40px; padding-left:10px; height:50px; font-family:ngbold; font-weight:normal; font-size:20px; color:#fff; line-height:50px; background:#2d323d;}
#popup h1 span{color:#fff;}
#popup .searchBox .blueBtn{position:absolute; top:-33px; right:0;}
#popup .blueBtn.popBtn{position:absolute; top:-33px; right:0;}
#popup .section{position:relative;}
#popup .section .searchBox table th{width:100px;}
#popup .section .searchBox table td{padding-left:7px; height:26px;}
#popup .section h2{position:absolute; top:2px; left:4px; font-family:ngbold; font-weight:normal; font-size:15px; line-height:26px; color:#222;}
#popup .wrap{padding:0 15px 20px;}
#popup .closeBtn{position:absolute; top:15px; right:15px;}
#popup .box .searchBox .blueBtn{top:-49px;}
#popup .tip{padding:10px 0;}

/* zipcode */
.zipcode .tab{margin:0 auto 12px; width:370px;}
.zipcode .zip{margin:0 auto; width:366px;}
.zipcode .search{margin:5px 0 10px;}
.zipcode .txt1{font-size:12px; line-height:18px;}
.zipcode .txt1 strong{color:#000;}
.zipcode .txt2{font-size:12px; line-height:22px;}
.zipcode .result{height:280px; border-bottom:1px solid #000; overflow-y:scroll;}
.zipcode .result table{width:347px;}
.zipcode .result table thead th{height:27px;font-family:ngbold; color:#000; border-top:1px solid #087dc8; border-bottom:1px solid #000; background:#eee;}
.zipcode .result table tbody th{padding:5px 10px; text-align:left; border-bottom:1px solid #bbb;}
.zipcode .result table tbody td{text-align:center; border-bottom:1px solid #bbb;}
.zipcode .result table tbody a{font-family:dotum; font-size:11px;}

/* gis */
#gis #header{margin-bottom:6px; padding-top:6px; height:54px; background:url('/tms/asset/images/sys/header_bg_gis.gif') repeat-x 0 0;}
#gis #header .select{margin-left:240px; *zoom:1;}
#gis #header .select:after{content:""; display:block; clear:both;}
#gis #header .select .area{float:left; position:relative; margin-right:7px;}
#gis #header .select span{display:block; width:140px; height:34px; font-family:ngbold; color:#fff; font-size:14px; line-height:34px; cursor:pointer; background:url('/tms/asset/images/sys/ico_gis_arrow.png') no-repeat 117px -39px;}
#gis #header .select select{position:absolute; top:34px; left:0; width:132px;}
#gis #header .btnArea{position:absolute; top:8px; right:15px;}
#gis #header .btnArea ul{*zoom:1;}
#gis #header .btnArea ul:after{content:""; display:block; clear:both;}
#gis #header .btnArea li{float:left; margin-left:6px;}
#gis #header .btnArea li a{display:block; height:27px; overflow:hidden; text-indent:-9999em; background:url('/tms/asset/images/sys/btn_gis.gif') no-repeat 0 0;}
#gis #header .btnArea li a.btn1{width:90px; background-position:0 0;}
#gis #header .btnArea li a.btn2{width:60px; background-position:-90px 0;}
#gis #header .btnArea li a.btn3{width:60px; background-position:-150px 0;}
#gis #header .btnArea li.active a.btn1{background-position:0 -27px;}
#gis #header .btnArea li.active a.btn2{background-position:-90px -27px;}
#gis #header .btnArea li.active a.btn3{background-position:-150px -27px;}
#gis #container{padding-bottom:20px;}
#gis #leftSec{float:left; margin-right:10px; padding-top:10px; width:225px;}
#gis #leftSec .tab{margin-bottom:5px;}
#gis #leftSec .tab li{margin:0 0 0 2px;}
#gis #leftSec .tab li a{padding:0; width:110px;}
#gis #leftSec .tab li.first{margin:0;}
#gis #leftSec .tab li.first a{width:109px;}
#gis #leftSec .list{position:relative; overflow-y:scroll; border:1px solid #bbb;}
#gis #leftSec .list li{padding:12px 10px; border-bottom:1px solid #bbb;}
#gis #leftSec .list li h3{position:relative; padding:0; width:186px; height:20px; color:#007dc3; font-weight:bold; line-height:20px;}
#gis #leftSec .list li h3 a{display:block; line-height:20px; color:#007dc3; font-weight:bold;}
#gis #leftSec .list li h3 a span{display:inline-block; width:10px; height:13px; vertical-align:middle; background:url('/tms/asset/images/sys/ico_gis_list.png') no-repeat 0 0;}
#gis #leftSec .list li h3 em{position:absolute; top:0; right:0; display:block; padding:0 4px; height:18px; font-size:11px; line-height:19px; border-radius:3px; color:#fff; background:#2d323d;}
#gis #leftSec .list li p{line-height:20px;}
#gis #leftSec .list li .info{line-height:20px; color:#000;}
#gis #leftSec .list li .centerBtn{margin-top:3px;}
#gis #leftSec .list li .centerBtn span{width:66px;}
#gis #leftSec .list li.active{background:#eff1f2;}
#gis #leftSec .list li.active h3 a span{background-position:-11px 0;}
#gis #content{float:left; padding:0; min-width:995px; overflow:hidden;}
#gis #content h2{height:40px; font-family:ngbold; font-weight:normal; font-size:20px; color:#222; line-height:41px;}
#gis .searchBox th{width:auto; letter-spacing:-1px;}
#gis #map{margin-top:10px; border:1px solid #bbb; background:#fcfcfc;}
#gis .tooltip{position:absolute; border:1px solid #444; background:#fff;}
#gis .tooltip .closeBtn{position:absolute; top:8px; right:8px;}
#gis #condition{padding:7px 10px;}
#gis #condition .toolTab{margin-bottom:5px;}
#gis #condition .toolTab ul{width:140px; border-radius:4px; border:1px solid #bbb; overflow:hidden; *zoom:1;}
#gis #condition .toolTab ul:after{content:""; display:block; clear:both;}
#gis #condition .toolTab ul li{float:left; width:50%;}
#gis #condition .toolTab ul li a{display:block; height:23px; text-align:center; font-weight:bold; line-height:23px; color:#707070; background:#fcfcfc;}
#gis #condition .toolTab ul li.active a{color:#fff; background:#2d323d;}
#gis #condition .condition li{line-height:23px;}
#gis #cargoInfo{width:420px;}
#gis #cargoInfo h3{position:relative; padding:0 0 0 10px; height:32px; line-height:32px; border-bottom:2px solid #000;}
#gis #cargoInfo h3 a{display:inline-block; font-size:14px; color:#007dc3; font-weight:bold;}
#gis #cargoInfo h3 em{display:inline-block; padding:0 4px; height:18px; font-size:11px; line-height:19px; border-radius:3px; vertical-align:middle; color:#fff; background:#2d323d;}
#gis #cargoInfo .sec{padding:8px 10px; border-bottom:1px solid #bbb;}
#gis #cargoInfo .sec .info{line-height:20px; color:#000;}
#gis #cargoInfo .sec p{line-height:20px;}
#gis #cargoInfo .centerBtn{padding:7px 0;}
#gis #cargoInfo .centerBtn a{display:inline-block; width:80px; height:23px; line-height:23px; font-weight:bold; text-align:center; color:#707070; border:1px solid #bbb; border-radius:4px; background:#fcfcfc;}
#gis #cargoList{width:284px;}
#gis #cargoList h3{position:relative; padding:0 0 0 10px; height:32px; font-family:dotum; font-size:14px; font-weight:bold; line-height:32px; border-bottom:2px solid #000;}
#gis #cargoList h3 strong{font-size:14px; font-weight:bold; color:#007dc3;}
#gis #cargoList .sec{height:70px; overflow-y:scroll;}
#gis #cargoList .sec ul{padding:8px 10px;}
#gis #cargoList .sec li{line-height:18px;}

/* paginate */
.paginate{padding-top:15px; text-align:center;}
.paginate img{vertical-align:middle;}
.paginate strong{display:inline-block; margin:0 3px; color:#007dc3; text-decoration:underline;}
.paginate a{display:inline-block; margin:0 3px; color:#454545;}

/* account */
#account #header{margin-bottom:0; padding-top:20px; height:100px; background:url('/tms/asset/images/sys/header_bg_account.gif') repeat-x 0 0;}
#account #header h1{position:relative; top:0; left:0; text-align:center;}
#account #content{margin:0 auto; padding-top:33px; width:900px;}
#account #content h2{border-bottom:1px solid #2d323d;}
#account #content h2 strong{font-family:ngbold; font-weight:normal; font-size:28px; line-height:47px; color:#333;}
#account #content h2 span{font-family:ngbold; font-weight:normal; font-size:14px; color:#484f5d;}
#account #content .section{margin-top:28px;}
#account #content .section h3{padding-top:0; line-height:38px; color:#222;}
#account #content .section .txt{margin-bottom:25px; font-family:ngbold; font-size:14px; color:#484f5d;}
#account #content .section .txt2{margin-top:10px; font-family:ng; text-align:center;}
#account #content .section .txt2 strong{font-family:ngbold; font-weight:normal; color:#e31b23;}
#account #content .section .cTxt{padding-bottom:18px; font-family:ngbold; font-size:14px; color:#484f5d; text-align:center;}
#account #content .section .cTxt strong{font-family:ngbold; font-weight:normal; font-size:14px; color:#e31b23;}
#account #content .tip{margin-top:18px;}
#account #content .tip h3{padding-top:0; font-size:14px; line-height:20px;; color:#007dc3;}
#account #content .tip p{margin-top:3px; font-family:ngbold; font-size:13px; color:#484f5d;}
#account #content .tip ul{margin-top:6px; *zoom:1;}
#account #content .tip ul:after{content:""; display:block; clear:both;}
#account #content .tip ul li{float:left; padding-left:8px; width:430px; line-height:18px; background:url('/tms/asset/images/sys/bullet_arrow.gif') no-repeat 0 50%;}
#account #content .box{padding:25px 0; border:1px solid #bbb; *zoom:1;}
#account #content .box:after{content:""; display:block; clear:both;}
#account #content .box dl{margin:0 auto; *zoom:1;}
#account #content .box dl:after{content:""; display:block; clear:both;}
#account #content .box dt{float:left; padding-left:10px; height:26px; line-height:26px; font-weight:bold; background:url('/tms/asset/images/sys/bullet_search_option.png') no-repeat 0 50%;}
#account #content .box dd{float:left; line-height:26px; color:#007dc3;}
#account #content .box dd img{vertical-align:middle;}
#account #content .box dl.email{width:686px;}
#account #content .box dl.email dt{width:100px;}
#account #content .box dl.id{margin-left:20px;}
#account #content .box dl.id dt{width:100px;}
#account #content .box dl.pw{margin-bottom:15px; width:300px;}
#account #content .box dl.pw dt{width:125px; height:32px; line-height:32px;}
#account #content .box dl.pw dd{padding-top:3px; height:29px;}
#account #content .box .block{float:left; margin:0 24px; padding:20px 0; width:400px; background:#eff1f2;}
#account #content .box .block dl{margin-bottom:10px; width:275px;}
#account #content .box .block dt{width:100px;}
#account #content .box.change{padding:0;}
#account #content .box.change .cTxt{padding-top:18px; border-bottom:1px solid #bbb; background:#eff1f2;}
#account #content .box.change .block{margin:0; width:448px; height:177px; background:#fff;}
#account #content .box.change .block.leftSec{padding-left:13px; width:436px; border-right:1px solid #bbb;}
#account #content .box.change .block h3{padding-top:0; font-size:14px; line-height:20px;; color:#007dc3;}
#account #content .box.change .block ul{margin-top:6px;}
#account #content .box.change .block ul li{font-family:ng; font-size:13px; line-height:18px;}
#account #content .box.change .block dl.pw{margin-bottom:15px; width:375px;}
#account #content .box.change .block dl.pw dt{width:120px; height:34px; line-height:34px;}
#account #content .box.change .block dl.pw dd{padding-top:4px; height:30px;}
#account #content.login{width:100%;}
#account #content.login h2{margin:0; border-bottom:none;}
.loginBox{position:relative; margin:100px auto; padding:16px 105px 0; width:465px; height:347px; background:url('/tms/asset/images/sys/login_bg.gif') no-repeat 0 0;}
.loginBox h2{height:102px; text-align:center;}
.loginBox dl{margin-left:50px; width:300px; *zoom:1;}
.loginBox dl:after{content:""; display:block; clear:both;}
.loginBox dl dt{float:left; padding-left:10px; width:74px; height:36px; line-height:36px; font-weight:bold; background:url('/tms/asset/images/sys/bullet_search_option.png') no-repeat 0 50%;}
.loginBox dl dd{float:left; padding-top:5px; height:32px;}
.loginBox dl dd input{width:190px;}
.loginBox .submit{position:absolute; top:123px; right:160px;}
.loginBox .remember{margin-left:135px;}
.loginBox .centerBtn{margin:8px 0 25px;}
.loginBox .branch{margin-left:16px; font-family:ngbold; color:#333; line-height:18px;}
.loginBox .branch strong{font-family:ng; font-size:14px; color:#007dc3;}
.loginBox .branch a{display:inline-block; margin-top:4px;}


.addClaimInputForm {position:absolute;z-index:22222;display:none;background:#fff;top:70px;left:190px;width:420px;text-align:center;padding-top:30px;height:100px;}
.addClaimPanel {background:#c0c0c0;top:50px;position:absolute;z-index:999;display:none;width:100%;height:370px;filter:alpha(opacity=50); opacity:0.5; -moz-opacity:0.5;}
.addClaimUserSearch {position:absolute;z-index:999999999999;width:350px;height:160px;background:#fff;border:1px solid black;}
.searchResultTable {width:100%;}
.searchResultTable td {text-align:center;}
.searchResultTable tr {height:20px;}